.listacategoria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-bottom: 80px;
}

.funcionariobox{
    font-family: Zombie;
    color: #000000;
    font-size: 18px;
    width: 310px;
    padding: 30px;
}

.funcionariobox :hover {
    opacity: 0.8;
}

h3, h4{
    font-family: Zombie;
    color: #222222;
}

.mapadiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapacamp {
    justify-content: center;
    align-items: center;
}

.imgmapa {
    border: 5px whitesmoke solid;
}

.vistamapatxt {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overlay{
    margin-top: 5px;
    font-family: Zombie;
    border: 2px #161616 solid;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.lista-imagem{
    border-radius: 30px;
}