.personagem{
    border: 1px rgb(0, 0, 0) solid;
    margin: 20px;
    background-color: rgba(245, 245, 245, 0.829);
    font-size: 22px;
    color: #111111;
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    color: rgb(31, 31, 31);
    font-family: Riverside;
    display: flex;
    justify-content: center;
}

text{
    color: rgb(8, 8, 8);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.imagem-personagem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagempersonagem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px black solid;
    margin: 25px;
}